<!DOCTYPE html>
<html>
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <meta charset="UTF-8" />
    <title>良匠果時及時訂單</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.common.dev.js'></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
    />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css.min.js'></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css'/>
  </head>
  <style type="text/css">
    body {
      font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
        sans-serif;
    }
  </style>

  <body style="background: url(./1.jpg) 0% 0%">
    <div class="pt-2 container center">
      <img
        class="img-fluid  rounded "
        style="width: 40%;"
        src="./logorow.png"
      />

      <!-- <h5 class="  d-inline"><b>良匠<br>果時</b> </h5> -->

      <br />
    </div>
    
    <div id="app" >
        <div v-if="!loading">
            <div class="container center">
                <div v-if="show=='first'" class="first mt-3 ">
                  <div class="card shadow-lg rounded">
                    <div class="card-body">
                        
        
                      <div class="card mt-2"@click="show='register'" style=" cursor: pointer;">
                        <img src="https://lh4.googleusercontent.com/MzVKq2Iq4l_ubaq-8L-TBxdcmB2Kky-Rfxro2pXGCRdWB_5TXXifP3ejmxzRopNzuDdVTOf1Og=w2953" class="card-img-top" >
                
         
                          <button class=" btn btn-block btn-lg btn-warning" >立即訂購</button>
        
                      </div>
                      
        <p></p>
                      <h4><b><i class="fa fa-university" aria-hidden="true"></i> 匯款資訊</b></h4>
                        <small>
                          <p>
                              中國信託 惠中分行 (822) 156540133954
                          </p>
                          <p>
                              【因維護鮮果品質，暫不提供貨到付款的服務，如有不便敬請見諒】
                          </p>    
                          <p>
                              匯款後，請登入並提供帳號後五碼，會有專人確認後盡速處理訂單
                          </p>              
                         
                          
                          
                        </small>
                      <a href="#" class="btn btn-block btn-lg btn-outline-warning"  @click="show='login'">登入</a>
                    </div>
                  </div>
              
              
              
                </div>
                <div v-if="show=='login'" class="login mt-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><i class="fa fa-user-circle" aria-hidden="true"></i> 登入</h5>
                      <form class="ml-2">
                          <div v-if="login.loginBackApi.status != undefined">
                              <div class="text-danger" v-if="!login.loginBackApi.status">
                                *帳號或密碼錯誤，點
                                <a href="#"  @click="show='register'">這裡</a>
                                直接購買或重新輸入</div>
              
                            </div>
                        <div class="form-group">
                          <label for="inputPhone"><i class="fa fa-phone" aria-hidden="true"></i> 聯絡電話</label>
                          <input v-model="login.userphone" type="text" class="form-control" id="inputPhone" placeholder="請輸入聯絡電話" />
                          <small class="form-text text-muted">個人資料僅供公司內部使用</small>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword1"><i class="fa fa-unlock-alt" aria-hidden="true"></i> 密碼</label>
                          <input  v-model="login.password" type="password" class="form-control" id="inputPassword1" placeholder="密碼" />
                        </div>
                        <a href="#" class="btn   btn-warning"  @click="loginHandler();">登入</a>
                        <button type="submit"  @click="show='register'" class="btn btn-outline-warning">
                          直接購買
                        </button>
                      </form>
                    </div>
                  </div>
              
              
              
                </div>
                <div v-if="show=='register'" class="register mt-3">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title"><b><i class="fa fa-cart-plus" aria-hidden="true"></i>
                         訂購單</b></h5>
                     
                      <form>
                          <div class="ml-2 ">
                              <small>
                                  從嗅覺的芒果香<br>
                                  到觸覺的芒果油<br>
                                  到味覺的芒果鮮<br>
                                  值得一試的好滋味
                                  <hr>
                              </small>
                          
        
                            </div>
                            <img src="https://lh3.googleusercontent.com/IjVn9oRIZRADfAg8BCns1iCqVNMITR85FPlkXKh0GfzG64bH1lLRwhStuGIJPhECpBFq2UJcRg=w945" class="rounded shadow img-fluid" >
                        
                        <h4 class="mt-4"><b><i class="fa fa-university" aria-hidden="true"></i> 匯款資訊</b></h4>
                        <small>
                          <p>
                              中國信託 惠中分行 (822) 156540133954
                          </p>
                          <p>
                              【因維護鮮果品質，暫不提供貨到付款的服務，如有不便敬請見諒】
                          </p>    
                          <p>
                              匯款後，請登入並提供帳號後五碼，會有專人確認後盡速處理訂單
                          </p>              
                         
                          
                          
                        </small>
                        <hr>
                        <h4 class="mt-4"><b><i class="fa fa-info-circle" aria-hidden="true"></i> 訂購資訊</b></h4>
                        <small>
                          <p>
                          外銷日本品質芒果，台灣獨家銷售管道
                          </p>
                          <p>
                          1.驚爆團購價：1箱只要$550元(不含運費, 需額外加運費110元)，2箱以上即享免運費優惠
                          </p>    
                          <p>
                          2. 每箱約5台斤(三公斤)，約8-12粒；將在6/15號後的每周二依序出貨!!!【以產地實際情況做調整】
                          </p>              
                          <p>
                          3. 一份訂單只能配送同一地址,如需寄送不同地址，煩請分開下單。
                          </p>
                          
                          
                        </small>
                        <div v-if="!login.loginBackApi.status" class="form-group">
                          <label for="inputRecPer">推薦人</label>
                          <input v-model="registerData.userData.recPer" type="text" class="form-control" id="inputRecPer" placeholder="請輸入收件人姓名" />
                        </div>
        <div class="form-group">
          <label for="inputCount">件數</label>
          <input  min="1" v-model="registerData.count" type="number" class="form-control" id="inputCount"
            placeholder="請輸入訂購數量" />
        </div>
        <span class="" v-if="registerData.count!=undefined">$ {{registerData.count*550}} 元</span>
        <div class="form-group">
          <label for="inputCount">運費</label>
          <div v-if="registerData.count>1">
          <S>
            <span v-if="registerData.count!=undefined">$ {{registerData.count*110}} 元</span>
          </S>
          <H4 class="text-danger">免運</H4>
          </div>
          <div v-else>
         
              <span  v-if="registerData.count!=undefined">$ {{registerData.count*110}} 元</span>
        
            
            </div>
        <h5 v-if="registerData.count!=undefined">共：$ {{registerData.count>1?registerData.count*550:registerData.count*550+registerData.count*110}}
        </h5>
        
        <div v-else>
        <span v-if="registerData.count!=undefined">$ {{registerData.count*550}} 元</span>
        
        </div>
         
        </div>
        <hr>
                        <h4><b><i class="fa fa-user-circle" aria-hidden="true"></i> 訂購人</b></h4>
                        <div v-if="api.data && !api.status">
                          <div class="text-danger" v-if="api.data.mesg='已經有帳戶'">
                            *點
                            <a href="#"  @click="show='login'">這裡</a>
                            登入並查看購買紀錄</div>
          
                        </div>
                        <div v-if="api.data == undefined || registerData.userData.address == undefined ">
                          <div class="form-group">
                            <label for="inputUserName1">姓名</label>
                            <input  v-model="registerData.userData.name" type="text" class="form-control" id="inputUserName1" placeholder="請輸入訂購人姓名" />
                          </div>
                          <div class="form-group">
                            <label for="inputPhone1">聯絡電話</label>
                            <input v-model="registerData.userData.phone" type="text" class="form-control" id="inputPhone1" placeholder="請輸入訂購人聯絡電話" />
                          </div>
                          <div class="form-group">
                            <label for="inputEmail1">電子信箱</label>
                            <input v-model="registerData.userData.email"type="text" class="form-control" id="inputEmail1" placeholder="請輸入訂購人電子信箱" />
                          </div>
                          <div v-if="!login.loginBackApi.status" class="form-group">
                            <label for="inputPassword">密碼</label>
                            <input  v-model="registerData.userData.password"type="password" class="form-control" id="inputPassword" placeholder="請輸入密碼" />
                            <small class="form-text text-muted">輸入密碼，查詢出貨使用</small>
                            <label for="inputPassword2">確認密碼</label>
                            <input v-model="registerData.userData.repassword"type="password" class="form-control" id="inputPassword2" placeholder="請再次輸入密碼" />
                            <small v-if="registerData.userData.repassword && registerData.userData.password != registerData.userData.repassword" class="form-text text-danger">* 與上方密碼不同，請重新輸入</small>
              
                          </div>
              
                          <div v-if="!login.loginBackApi.status" class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputCity1">縣/市</label>
                              <select @click="" v-model="registerData.city"  id="inputCity1" class="form-control">
                                <option disabled selected value="選擇...">選擇...</option>
                                <option v-for="city in registerData.allCity" :value="city">{{city}}</option>
                              </select>
                              <small class="form-text text-muted">選完縣/市請等3秒</small>
                            </div>
                            <div v-if="registerData.areaShow" class="form-group col-md-6">
                              <label for="inputState1">區</label>
                              <select v-model="registerData.area" id="inputState1" class="form-control">
                                <option disabled selected value="選擇...">選擇...</option>
                                <option v-for="area in registerData.areaList" :value="area">{{area}}</option>
                              </select>
                            </div>
              
                          </div>
                          <div  v-if="registerData.areaShow || login.loginBackApi.status" class="form-group">
                            <label for="inputAddress1">地址</label>
                            <input  v-model="registerData.userData.address" type="text" class="form-control" id="inputAddress1" placeholder="請輸入訂購人地址" />
                          
        
                          </div>
                        </div>
           
                        <div class="form-check">
                          <input v-model="registerData.isSame" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                          <label class="form-check-label" for="defaultCheck1">
                            訂購人與寄件人相同
                          </label>
                        </div>
                        <hr>
                        <h4><b><i class="fa fa-user" aria-hidden="true"></i> 收件人</b></h4>
        
                      <div  >
                          <div class="form-group">
                            <label for="inputUserName2">姓名</label>
                            <input v-model="registerData.user2Data.name" type="text" class="form-control" id="inputUserName2" placeholder="請輸入收件人姓名" />
                          </div>
                          <div class="form-group">
                            <label for="inputPhone2">聯絡電話</label>
                            <input v-model="registerData.user2Data.phone" type="text" class="form-control" id="inputPhone2" placeholder="請輸入收件人聯絡電話" />
                          </div>
                          <div class="form-row" v-if="!(registerData.city2 == '不用填寫')">
                            <div class="form-group col-md-6">
                              <label for="inputCity2">縣/市</label>
                              <select @click="" v-model="registerData.city2" id="inputCity2" class="form-control">
                                <option disabled selected value="選擇...">選擇...</option>
                                <option v-for="city in registerData.allCity" :value="city">{{city}}</option>
                              </select>
                              <small class="form-text text-muted">選完縣/市請等3秒</small>
                          
                            </div>
                            <div v-if="registerData.area2Show" class="form-group col-md-6">
                              <label for="inputState2">區</label>
                              <select id="inputState2" v-model="registerData.area2" class="form-control">
                                <option disabled selected value="選擇...">選擇...</option>
                                <option v-for="area in registerData.area2List" :value="area">{{area}}</option>
                              </select>
                            </div>
                          
                          </div>
                          <div v-if="registerData.area2Show" class="form-group">
                            <label for="inputAddress">收件人地址</label>
                            <input  v-model="registerData.user2Data.address" type="text" class="form-control" id="inputAddress2" placeholder="請輸入收件人地址" />
                          </div>
                          <div class="form-group">
                            <label for="inputNote">寄件備註</label>
                            <input  v-model="registerData.note" type="text" class="form-control" id="inputNote2" placeholder="寄件備註" />
                          </div>
        
        
                        <a v-if="!checkPassword() && !login.loginBackApi.status" href="#"class="btn btn-warning btn-block " >送出</a>
                        <a v-if="checkPassword() && !login.loginBackApi.status" href="#"class="btn btn-warning btn-block " @click="addUser();">註冊並送出</a>
                        <a v-if="login.loginBackApi.status" href="#"class="btn btn-warning btn-block " @click="addBuy();show='historyList'">送出</a>
        
                      </div>
              
              
              
                      </form>
                    </div>
                  </div>
                </div>
              
              
              </div>
              <div v-if="show=='historyList'" class="historyList mt-3">
              
                <div class="card shadow mb-4 " >
                  <div class="card-header py-3">
        
                    <div class="container">
                        <div class="row align-items-center">
                          <div class="col align-self-start">
                    <h6 class="m-0 font-weight-bold ">良匠果時及時訂單<h6>
                            
                          </div>
        
                          <div class="col align-self-end text-right">
                              <button @click="loginedBuyHandler"class="btn btn-warning mt-2">新增訂單</button>
                          </div>
                        </div>
                      </div>
        
                  </div>
              
                  <div class="card-body">
              
                    <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr>
                            <th>編號</th>
                            <th>繳費</th>
                            <th>狀態/操作</th>
                            <th>收件人姓名</th>
                            <th>收件人電話</th>
                            <th>收件人住址</th>
                            <th>件數</th>
                            <th>備註</th>
                          </tr>
                        </thead>
              
                        <tbody>
                          <tr v-for="i in api">
                            <td>{{i.id}}</td>
                            <td v-if="i.stauts == '尚未付款'">尚未付款</td>
                            <td v-if="i.stauts == '尚未付款'">請輸入帳號後五碼<p></p>
                              <input v-model="cardLast5Num[i.id]" type="text">
                              <button @click="cardLast5NumHandler(i.id)"class="btn btn-warning mt-2">確定</button>
                            </td>
                            <td v-if="i.stauts == '已付款，核實中'">已付款</td>
                            <td v-if="i.stauts == '已付款，核實中'">核實中...<p></p>若有疑問煩請聯絡我們
                              <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-warning mt-2">聯絡資訊</button>
                            </td>
                            <td v-if="i.stauts == '水果準備中'">已付款 </td>
                            <td v-if="i.stauts == '水果準備中'">已核實，水果準備中...<p></p>若有疑問煩請聯絡我們
                              <button class="btn btn-warning mt-2"  data-toggle="modal" data-target="#exampleModal">聯絡資訊</button>
                            </td>
                            <td v-if="i.stauts == '出貨摟～'">已付款</td>
                            <td v-if="i.stauts == '出貨摟～'">出貨摟～<p></p>若有疑問煩請聯絡我們
                              <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-warning mt-2">聯絡資訊</button>
                            </td>
                            <td>{{i.name}}</td>
                            <td>{{i.phone}}</td>
                            <td>{{i.address}}</td>
                            <td>{{i.count}}</td>
                            <td>{{i.note=='undefined'?'':i.note}}</td>
                          </tr>
                   
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              
              
              </div>
              <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">聯絡資訊</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    ＊獨享優惠社團 （手機操作）: <a href="http://line.me/ti/g/JNjfE79L6B">立即前往!</a>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-dismiss="modal">確定</button>
                </div>
              </div>
            </div>
          </div>
        </div>
       
        <div v-else class=" container">
          <div class="text-center">
              <div class="loader-inner ball-scale"></div>
          </div>
            
        </div>
      </div>
    <script src="app.js"></script>
  </body>
</html>
