<!DOCTYPE html>
<html>
  <head>
    <meta
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <meta charset="UTF-8" />
    <title>良匠果時推薦好友</title>
    <script src="./vconsole.min.js"></script>
    <!-- <script type="text/javascript" src="qrcode.js"></script> -->
    <script src="./qrcode.min.js"></script>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.css.min.js"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/loaders.css/0.1.2/loaders.min.css"
      rel="stylesheet"
    />
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>

    <style type="text/css">
      body {
        font-family: "Helvetica", "Arial", "LiHei Pro", "黑體-繁", "微軟正黑體",
          sans-serif;
      }
      .relative {
        position: absolute;
        top: 2%;
        right: 8%;
      }
    </style>
  </head>
  <body style="background: url(./1.jpg) 0% 0%">
    <div class="pt-2 container center">
      <!-- <img class="img-fluid rounded" src="./logorow.png" style="width: 40%;" /> -->
      <!-- <h5 class="  d-inline"><b>良匠<br>果時</b> </h5> -->
      <br />
    </div>
    <div class="d-none" id="qrcode" style="width:200px; height:200px; "></div>

    <div id="app">
      v6
      <div id="loading" v-if="loading">
        載入中...
        <div class="text-center">
          <div ref="loadingdiv" class="loader-inner ball-scale"></div>
        </div>
      </div>
      <div v-if="!loading" class="container">
        <div class="row align-items-end mb-3">
          <div class="col">
            <img src="./recqr.png" class="img-fluid" alt="" />
            <div class="relative" style="width: 30%">
              <small><b>親愛的 </b></small>
              <br />
              <b>{{ name }} </b><small>貴賓：</small>

              <img class="mt-3 img-fluid" :src="qrImg" alt="" />
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" class="text-center">名字</th>
              <th scope="col" class="text-center">已使用</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index ) in api">
              <th scope="row">{{ index + 1 }}</th>
              <td class="text-center">{{ item.name }}</td>
              <td class="text-center" v-if="item.usedＤiscount=='true'">
                <i class="fas fa-check-circle"></i>
              </td>

              <td class="text-center" v-else>
                <i class="fa fa-times"></i>
              </td>
            </tr>
          </tbody>
        </table>
        <hr />
        <h5 class="text-center">
          <i class="fas fa-crown"></i> <b>已推薦 {{ api.length }} 位會員</b>
        </h5>
      </div>
    </div>
    <script>
      var vConsole = new VConsole();
      // liff.init(
      //   data => {
      //     // Now you can call LIFF API
      //     const lineId = data.context.lineId;
      //     Logger("lineId: ", lineId);
      //   },
      //   err => {
      //     // LIFF initialization failed
      //   }
      // );
      function Logger(data) {
        console.log("v6", data);
        // console.log("vue", vm);
      }
      function getpara(paraName) {
        var url = location.href;
        if (url.indexOf("?") != -1) {
          var id = "";
          var ary = url.split("?")[1].split("&");
          for (i = 0; i <= ary.length - 1; i++) {
            if (ary[i].split("=")[0] == paraName)
              return ary[i].split("=")[1].split("#")[0];
          }
          return undefined;
        }
      }
      function makeCode(TEXT) {
        var qrcode = new QRCode(document.getElementById("qrcode"), {
          width: 200,
          height: 200
        });
        qrcode.makeCode(TEXT);
      }
      const vm = new Vue({
        el: "#app",
        data: {
          api: [],
          lineId: "",
          qrCodeText: "",
          qrImg: "",
          name: "",
          loading: true
        },
        created: function() {
          Logger("created!");
          let self = this;
          self.loading = true;
          liff.init(
            data => {
              self.lineId = data.context.userId;
              Logger(self.lineId);
            },
            err => {}
          );
          // self.lineId = "U729a733b259f5e529339bf36b9f3da13";
          Logger(self.lineId);
          self.qrCodeText =
            "line://app/1595482888-40x77W8e?recPer=" +
            self.lineId +
            "&next=lineAT";
          self.loading = false;
        },
        watch: {
          lineId: function() {
            let self = this;
            self.isCustomer(self.lineId);
            makeCode(self.qrCodeText);
            self.getRecperNameHandler(self.lineId);
            self.getAll();
          }
        },
        computed: {
          // bankInfoList: function() {
          //   if (this.pApi.bankInfo) {
          //     return this.pApi.bankInfo.split("\\n");
          //   }
          // },
        },
        methods: {
          getRecperNameHandler: function(recperLineId) {
            let self = this;
            self.loading = true;
            axios({
              methods: "get",
              url:
                "https://script.google.com/macros/s/AKfycbwJXlWfM0YZ4mN2uU2a1kEp9y6UWl_DvTuTIWD51JXLoHjlGvg/exec?method=getRecperName&lineId=" +
                recperLineId
            }).then(resp => {
              self.loading = false;
              self.name = resp.data.name;
              self.qrImg = document.images[0].src;
              Logger(self.qrImg);
            });
          },
          getAll: function() {
            let self = this;
            self.loading = true;
            axios({
              methods: "get",
              url:
                "https://script.google.com/macros/s/AKfycbwJXlWfM0YZ4mN2uU2a1kEp9y6UWl_DvTuTIWD51JXLoHjlGvg/exec?method=all"
            }).then(resp => {
              resp.data.forEach(item => {
                if (item.recLineID == self.lineId) {
                  self.api.push(item);
                }
              });
              self.loading = false;
            });
          },
          isCustomer: function(lineId) {
            let self = this;
            axios({
              methods: "get",
              url:
                "https://script.google.com/macros/s/AKfycbwJXlWfM0YZ4mN2uU2a1kEp9y6UWl_DvTuTIWD51JXLoHjlGvg/exec?method=isCustomer&id=" +
                lineId
            }).then(resp => {
              if (resp.data.status) {
                Logger(lineId + " 是會員");
              } else {
                Logger(lineId + " 非會員");
                Logger("換頁 to 註冊");
                var URL =
                  "line://app/1595482888-40x77W8e?next=1595482888-x07MMXvP";
                Logger(URL);
                liff.openWindow({
                  url: URL,
                  external: false
                });
              }
            });
          }
        }
      });
    </script>
  </body>
</html>
